*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background-color:rgb(9, 96, 211)
}

    /* logo e barra di navigazione */
nav, .logo{
    display: inline-block;
    padding: 
}
.mainnav{
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    /* degub */
    /* background-color: black; */
}
.mainnav, .logo{
    margin-right: 60px;
}
.mainnav li{
    display: inline-block;
    list-style: none;
    margin: 0 auto;   
}
.mainnav li a{
    color: white;
    text-decoration: none;
}
.mainnav button{
    margin-left: 60px;
}


/* tipo di bottone */
.type1{
    background-color: white;
    border-radius: 20px;
    padding: 8px;
}
.type2{
    color: white;
    background-color:black;
    border-radius: 20px;
    padding: 8px;
}


    /* impostazioni jumbotron */
.jumbotron{
    margin: 0 auto;
    max-width: 100%;
}
.jumbotron img{
    max-width: 100%;
    
}

h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}
p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;   
}
.positionbuttonjumbotron{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* sezione 1/4 */
.clearfix::after{
    content: 0;
    display: table;
    clear: both;
}
.section1{
    height: 200px;
    object-fit: cover;
}

.item1{
    float: left;
    width: 57%;
    padding-left: 3%;
    height: 200px;
}
.textsection1{
    padding-right: 10% ;
    margin-top: 100px;
    float: left;
    width: 30%;
    height: 200px;
}

/* sezione 2/4 */
.section2{
    height: auto;
    background-color: yellow;
    
}

.item2{
    margin-top: 300px;
    float: right;
    width: 50%;
    height: auto;
}
.textsection2{
    margin-top: 300px;
    padding-top: 100px;
    padding-left: 10%;
    float: right;
    width: 40%;
    height: 200px;
}

/* sezione 3/4 */
.section3{
    height: auto;
    background-color: yellow;
}

.item3{
    margin-top: 300px;
    float: left;
    width: 50%;
    height: auto;
}
.textsection3{
    margin: 300px 0;
    padding-left: 10%;
    float: left;
    width: 40%;
    height: auto;
}

/* sezione 4/4 */
.textsection4{
    padding: 10px 80px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.bigitem{
    width: 100%;
    text-align: center;
}