*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    margin: 0 auto;
    height: 80px;
    background-color:rgb(9, 96, 211)
}

    /* logo e barra di navigazione */
nav, .logo{
    display: inline-block;
}
.mainnav{
    width: 80%;
    margin: 0 auto;
    /* degub */
    /* background-color: black; */
}
.mainnav li{
    display: inline-block;
    list-style: none;
    margin: 15px;   
}
.mainnav li a{
    color: white;
    text-decoration: none;
}
.type1, a{
    color: black;
    text-decoration: none;
}

/* tipo di bottone */
.type1{
    background-color: white;
    border-radius: 20px;
    padding: 8px;
}
.type2{
    color: white;
    background-color:black;
    border-radius: 20px;
    padding: 8px;
}


    /* impostazioni jumbotron */
.jumbotron{
    position: absolute;
}

.jumbotron img{
    margin: 0 auto;
    max-width: 100%;
}

h2{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}

p{
    color: white;
    position: absolute;
    text-align: center;
    left: 32%;
    top: 30%;
    transform: translate(-50&, -50%);
    width: 500px;
}

.positionbuttonjumbotron{
    position: absolute;
    left: 39%;
    top: 50%;

}

